/* Start Title Banner */
.jumbotron {
    background-image: url(image/title-main-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0 2% 0;
    box-sizing: border-box;
    background-color: green;
    max-width: 100%;
 }
   /* End Title Banner */
   /* Sidebar */
.sidebar {
    padding: 0;

}
.sidebar a , .sidebar button{
    text-decoration: none;
    color: inherit;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar ul:hover {
    font-weight: bold;
}
.sidebar button{
    font-weight: bold;
}
.sidebox {
    padding:0;
}
.select {
    margin: 0;
    padding: 0;
    max-width: 100%;
    border-style: groove;
    border-color: gray;
    height: 25px;
    border-width: 1px;
}
   /* End Sidebar*/
/* Slide */
.slideshow {
    margin-left: 25%;
    margin-right: 25%;

}

.slide{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

/* Back-Next */

.col-3 {
    padding: 5px;
}



    




